*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url(wallpaper.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}


nav{
    width: 100%;
    height: 10vh;
    background: rgba(90, 133, 128, 0.733);
  } 

.logo img{
    float: left;
    width: 80px;
    height: auto;
    padding-left: 25px;
    padding-top: 18px;
}

.menu {
    float: right;
    font-size: 20px;
    margin-top: 25px;  
    margin-right: 30px; 
    border: none;
    outline: none;
}

.menu a{
   text-decoration: none;
   padding: 10px 30px;
   text-transform: capitalize;
   transition: 0.6s ease;
   color: white;
}

.menu a:hover{
    background-color: rgba(129, 176, 194, 0.911);
    color: black ;
    font-size: 22px;
    border-radius: 50px;  
    text-decoration: none;
    color: linen;
    padding: 10px 30px;    
}

.header{
  
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute; 
}

.header h2{
font-size: 30px;    
letter-spacing: 3px;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.801);
}

.header p{
    font-size:20px ;
    text-align: center;
    color: rgba(255, 255, 255, 0.801);
    padding-top: 10px;
}

form{
    top: 45%;
    left: 57%;
    transform: translate(-50%,-50%);
    position: absolute; 
    
}

.form-control{
   
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    

}

input{
    height: 40px;
    color: white;
}


.details input[type="submit"]{
    background: rgba(129, 176, 194, 0.911);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 50px;
}

.details input[type="submit"]:hover{
    font-size: 21px;
    cursor: pointer;
    background-color: rgba(86, 145, 163, 0.918);
}























/* 
.details{
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: white;
}

.form-control{
    width: 300px;
    margin-left: 10%;
    color: white;
    padding-top: 20px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white; */

}



}
